{% extends "base.html" %}
<html>

<head>
  <title>
  {% block title %}
  {{ detail.title }}
  {% endblock %}
  </title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="/static/css/style1.css" title="style" />
  <script>
    var txt = document.getElementById('txt')
    var btn = document.getElementById('btn')
    var desc = document.getElementById('desc')
    btn.onclick = function () {
        var val = txt.value
        val = val.replace(/\r\n/g, '<br/>');
        val = val.replace(/\n/g, '<br/>'); 
        val = val.replace(/\s/g, ' ');
        desc.innerHTML = val;
    }
</script>

</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Study <span class="logo_colour"> Community</span></a></h1>
          <h2>对所学知识内容的兴趣可能成为学习动机。</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">主页</a></li>
          <li><a href="/new/">发表</a></li>
          <li><a href="">Github</a></li>
          <li><a href="">关于</a></li>
		    {% if current_user.is_authenticated %}
		    <li><a href="#"> {{ current_user.username }}</a></li>
		    <li><a href="/logout/">退出</a></li>
		    {% else %}
		    <li><a href="/login/">登录</a></li>
		    <li><a href="/reg/">注册</a></li>
		    {% endif %}
        </ul>	 	
      </div>
    </div>
	<div class="inner_copyright">Powered by Study Python Webapp. </div>
    <div id="site_content">
      <div id="content">
	    {% block content %}
        <h1 align="center">{{ detail.title }}</h1>
        <h4 align="center"> 作者:{{ detail.author }} </h4>
        <h4 align="center">发布时间： {{ detail.create_time }} </h4><br><br>
        <div class="article">{{ detail.body_html | safe }} </div>
        <br>
        <hr />
        <h3 align="center">评论区</h3>
        <ol reversed>
        {% for comment in comment_list %}        
        <li><h4 > {{ comment.name }}:  </h4></li>
        <div class="article">{{ comment.body_html |safe }}</div><br>
        <p align="right"> 评论时间: {{ comment.create_time }}</p>
        {% else %}
        <p align="center">  暂时还没有评论，一起来交流评论吧！ </p>
        {% endfor %}
        </ol>
        {% if current_user.is_authenticated %}
        <form action="/detail/{{ detail.id }}/" method="post">
         评论:<br>
          <textarea id="txt" name="content" rows="13" style="width:100%" minlength="2" required></textarea><br><br>
          <input type="submit" value="发表评论">
        </form>
        {% else %}
        <p align="center"><a href="/login/">登录</a>即可发表评论！</p>
        {% endif %}
	    {% endblock %}
      </div>
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>最新动态</h3>
		<h3>友情链接</h3>
        <ul>
          <li><a href="https://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000" target="_blak">Python学习</a></li>
          <li><a href="http://www.w3school.com.cn/" target="_blak" >W3School</a></li>
          <li><a href="https://blog.csdn.net/" target="_blak">CSDN社区</a></li>
          <li><a href="http://docs.jinkan.org/docs/flask/" target="_blak">Flask中文</a></li>
        </ul>      
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Powered by Study Python Webapp.<br>&copy; All Rights Reserved. Thanks for Templates Home.
    </div>
  </div>
</body>
</html>
